# 데이터



( train, test , bus_bts 공통 사항)

해당 데이터에는 버스카드를 통해 결제를 한 경우에 대한 정류소 승, 하차 데이터로 모든 승차정보의 경우는 기록이 되어있지만, 

버스에서 하차를 할 때, 버스카드를 찍지 않는 경우, 해당 기록이 비어 있는 상태입니다. 따라서, 승차 인원수와 하차 인원수가 동일하지 않고 다소 차이가 있음을 미리 알려드립니다.



(train, test csv 공통사항)

해당 버스정류장에 대한 각각의 위도, 경도가 제공이 되어있는 상태로 같은 정류장 이름이지만 위도와 경도가 서로 다른 경우가 존재합니다. 

해당 경우는, 같은 정류장 이름을 가지고 있는 길 건너편의 정류장에 해당이 됩니다.

 



 1. train.csv and test.csv

 

train.csv 의 경우, 2019년 9월 제주도의 각 날짜, 출근시간(6시~12시)의 버스 정류장별 승하차 인원, 퇴근시간(18시~20시)의 버스 정류장별 승차 인원이 기록되어 있습니다.

test.csv의 경우, 2019년 10월의 각 날짜, 출근시간(오전 6시~12시)의 버스 정류장별 승하차 인원이 기록되어 있습니다.



2. bus_bts.csv

 

bus_bts의 경우, 버스카드별로 승하차 정보가 기록이 되어있습니다. 해당 데이터는 탑승 시간대가오전 6시부터 12시 사이인 경우만 있습니다.



3.     submission_제출양식.csv 

 

submission_제출양식의 경우, test data의 ID와 목표변수인 18시~20시 승차 인원로만 이루어져 있습니다.

참가자분들께서는 test.csv에서 ID와 예측값을 결합하여, 해당 submission_제출양식.csv 파일형식 처럼 만든 이후,

해당 제출 파일 양식 그대로(변수명 포함된 상태) 제출을 해주시면 됩니다



추가 사용 가능 데이터

      a) (8회 kcb 시각화 대회의 제주도 금융라이프 데이터(jeju_financial_life_data.csv)

      b) 행정동별 위도 경도 데이터 https://dacon.io/?module=file&act=procFileDownload&file_srl=244977&sid=8cd192144ab18be0e02e4a16f851729b&module_srl=228539  
      (H - 행정동, B - 법정동)

train.csv & test.csv
1. id: 해당 데이터에서의 고유한 ID(train, test와의 중복은 없음)
2. date: 날짜
3. bus_route_id: 노선ID 
4. in_out: 시내버스, 시외버스 구분
5. station_code: 해당 승하차 정류소의 ID
6. station_name: 해당 승하차 정류소의 이름
7. latitude: 해당 버스 정류장의 위도 (같은 정류장 이름이어도 버스의 진행 방향에 따라 다를 수 있음)
8. longitude: 해당 버스 정류장의 경도 (같은 정류장 이름이어도 버스의 진행 방향에 따라 다를 수 있음)
9. X~Y_ride: X:00:00부터 X:59:59까지 승차한 인원 수
10. X_Y_takeoff: X:00:00부터 X:59:59까지 하차한 인원 수
11. 18~20_ride: 18:00:00부터 19:59:59까지 승차한 인원 수 (train data에만 존재)

bus_bts.csv
1. user_card_id: 해당 승객의 버스카드ID
2. bus_route_id: 노선ID
3. vhc_id: 차량ID
4. geton_date: 해당 승객이 탑승한 날짜
5. geton_time: 해당 승객이 탑승한 시간
6. geton_station_code: 승차정류소의 ID
7. geton_station_name: 승차정류소의 이름
8. getoff_date: 해당 승객이 하차한 날짜 (하차태그 없는 경우, NaN)
9. getoff_time: 해당 승객이 하차한 시간 (하차태그 없는 경우, NaN)
10. getoff_station_code: 하차정류소의 ID (하차태그 없는 경우, NaN)
11. getoff_station_name: 하차정류소의 이름 (하차태그 없는 경우, NaN)
12. user_category: 승객 구분 (01-일반, 02-어린이, 04-청소년, 06-경로, 27-장애 일반, 28-장애 동반, 29-유공 일반, 30-유공 동반)
13. user_count: 해당 버스카드로 계산한 인원수 ( ex- 3은 3명 분의 버스비를 해당 카드 하나로 계산한 것)

### $$RMSE(\theta_1, \theta_2) = \sqrt{MSE(\theta_1,\theta_2)} = \sqrt{E((\theta_1-\theta_2)^2)} = \sqrt{{\sum_{i=1}^n(x_{1,i}-x_{2,i})^2}\over n}$$

## 1.preprocessing

### 1) cleaning
- bus route id 0000제거
- station name 띄어쓰기 제거
- 위도, 경도 round해서 사용

### 2)combine
- bus rout id + station code
- bus rout id + 위도, 경 보 정보

## 3. outlier remove
- train, test data 두 데이터셋 모두 존재하는 데이터만 사용

## 4. agg feature
- day 기준, 평균/80 백분위수 데이터 집계함수 사용
- day 기준, (bus route id, station code, station name) 평균/80 백분위수 데이터로 집계함수 사용

## 5. frequency encoding
- bus route id, station code, station name 등의 categorical 변수의 경우 빈도수를 계산해 줌으로써 모델에 다양한 정보를 주었음

# 파생변수 추가
- 시내 / 시외 구분 (원핫 인코딩)
- 내륙 (1) / 이외 섬 정류장 (0) - coordinate 데이터셋에서 제주시 / 나머지 구분 후 train/test셋에 적용
- 주중(0), 주말 및 공휴일(추석, 한글날, 개천절)(1)

- (이건 일단 무시) ???? 학교, 공항, 환승, 터미널 등 혼잡 정류장 (1) / 이외 정류장 (0)

- 시간대 2시간 단위로 통합 (타겟 시간대와 동일한 단위 적용하기 위함)

- 날씨 비오는 날(1), 안 오는날(0)

-  Bus_bts 데이터를 train/test set에 통합하기
    - Bus_bts 셋 탑승 시간대 나누기
    - User count : 승하차 인원인데 train/test set 하고 기준이 다른데 처리 어떻게 함? -> 동일 데이터(날짜, 탑승 시간대, 경로) 기준으로 for 문 돌려서 입히기

1st week - EDA
기본 baseline을 바탕으로 매주 모든 조원들의 EDA자료를 통합하여 제작하였습니다.

데이터 명세
id : 해당 데이터의 고유한 ID (train, test와의 중복은 없음)

date : 날짜

bus_route_id : 노선 id

in_out : 시내버스, 시외버스 구분 (categorical)

station_code : 해당 승하차 정류소의 ID

station_name : 해당 승하차 정류소의 이름

latitude : 해당 버스 정류장의 위도

longitude : 해당 버스 정류장의 경도

*** 같은 위도경도여도 진행 방향에 따라 정류장이 다를수 있음.
X-Y ride : 00:00부터 59:59까지 승차한 인원수

X-Y takeoff : 00:00부터 59:59까지 하차한 인원수

18-20 ride : 18:00:00부터 19:59:59까지 승차한 인원 수 (train data에만 존재, 예측해야할 target)

0. Package & Data Load

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Data_Path, import

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn')
sns.set(font_scale=2.5)
import datetime
import missingno as msno
import warnings
warnings.filterwarnings('ignore')
from collections import Counter # count
%matplotlib inline

import requests
import calendar
from bs4 import BeautifulSoup

# 지도 관련 시각화 
import folium 
from folium.plugins import MarkerCluster 
import geopy.distance 


#데이터 샘플링
import random
from sklearn.preprocessing import LabelEncoder #인코딩
from sklearn.preprocessing import OneHotEncoder

#validation
from sklearn.model_selection import KFold 
from sklearn.model_selection import GridSearchCV 

#model
import lightgbm as lgbm 

#processing bar
from tqdm import tqdm_notebook

In [ ]:
data_path = '/content/drive/My Drive/Dacon/data13/'

# bus_bts, submission_sample, test, train, coordinate -> coordinate_jeju(제주좌표)

In [ ]:
bus_bts = pd.read_csv(data_path + 'bus_bts.csv')
bus_bts

In [ ]:
submission_sample = pd.read_csv(data_path + 'submission_sample.csv')
submission_sample

In [ ]:
test = pd.read_csv(data_path + 'test.csv')
test

In [ ]:
train = pd.read_csv(data_path + 'train.csv')
train

In [ ]:
coordinate = pd.read_excel(data_path + '행정_법정동 중심좌표.xlsx')
coordinate

In [ ]:
coordinate_jeju = coordinate[coordinate['시도'] == '제주특별자치도']
coordinate_jeju

In [ ]:
#train과 test의 column 차이 : 우리가 구해야할 타겟 18~20_ride
set(train.columns)-set(test.columns)

# data_list

특이점 1. target인 
18~20ride분포가 대부분 0이다.
날짜의 갯수가 날 마다 다른것을 보았을때 승차인원이 없거나하면 표기가 안된다? Yes.
6시~12시 내린 승객이 한명도 없고, 탄 승객이 없을 경우 해당 로우 삭제한다? Yes.
특정날짜, 루트에도 없다? => 승차 하차 승객 0 일 수 있기 때문에 0이라는 피쳐 추가 가능할것.
Dacon 데이터 설명 중..
버스에서 하차를 할 때, 버스카드를 찍지 않는 경우, 해당 기록이 비어 있는 상태입니다.
따라서, 승차 인원수와 하차 인원수가 동일하지 않고 다소 차이가 있음을 미리 알려드립니다.

In [ ]:
data_list = [bus_bts, test, train, coordinate_jeju]

In [ ]:
for i in data_list:
  print(i.describe())
  print(i.head())
  print(i.tail())
  print(i.info())

# Missing Value Preprocessing

In [ ]:
for i in data_list:  
  print(i.isnull().sum())

In [ ]:
coordinate_jeju_df = coordinate['하위'].fillna('리')
coordinate_jeju_df
coordinate_jeju_df.isnull().sum()

In [ ]:
bus_bts.isnull().sum()

In [ ]:
bus_bts.info()

In [ ]:
bus_bts_df = bus_bts
test_df = test
train_df = train
coordinate_jeju_df = coordinate_jeju
data_list_df = [bus_bts_df, test_df, train_df, coordinate_jeju_df]

In [ ]:
bus_bts_df['geton_time'] = pd.to_datetime(bus_bts_df['geton_time'], format = '%H:%M:%S', errors = 'raise')
bus_bts_df['geton_time'] = bus_bts_df['geton_time'].dt.round('15min')
bus_bts_df['getoff_time'] = pd.to_datetime(bus_bts_df['getoff_time'], format = '%H:%M:%S', errors = 'raise')
bus_bts_df['getoff_time'] = bus_bts_df['getoff_time'].dt.round('15min')

In [ ]:
bus_bts.head(20)

## 전처리데이터 => 저장명 예시 : train -> train_df

In [ ]:
#한번 더 확인
print(train.isnull().sum())#train 결측값 개수 확인 
print("-----------------------------")
print(test.isnull().sum()) #train 결측값 개수 확인

In [ ]:
target_col = '18~20_ride'
train_df[target_col].value_counts().sort_index() #0의 분포가 압도적으로 많음.

In [ ]:
# 탑승 columns, 하차 columns
ride_columns = [col for col in test.columns if '_ride' in col]
take_off_columns = [col for col in test.columns if '_takeoff' in col] 

# Train의 승차 칼럼들의 rowsum
display( train[train[target_col]==0][ride_columns].sum(axis=1).agg(['min','max']) )

# Train의 하차 칼럼들의 rowsum
display( train[train[target_col]==0][take_off_columns].sum(axis=1).agg(['min','max']) )

# Train의 승하차 합 칼럼들의 rowsum
display( train[train[target_col]==0][ride_columns + take_off_columns].sum(axis=1).agg(['min','max']) )

In [ ]:
train_df = train
train_df

특이점 2. Station_name과 code가 1:1 맵핑을 이루지 않는다.
정류장 코드, 정류장 좌표는 1:1 매핑

정류장 이름은 여러 정류장 코드를 가짐

정류장 이름은 여러 정류장 좌표를 가짐

결론 : 정류장 이름은 대표성을 갖지 않음.

In [ ]:
#하나의 station name에 다수의 station_code 발견.
multi_station = train_df.groupby('station_name')['station_code'].nunique().sort_values()
multi_station[multi_station >= 7]

In [ ]:
train_df[train_df['station_name'].isin(multi_station.index)][['station_code', 'station_name', 'latitude', 'longitude']]

#결국, station_code가 고유값임을 확인. 고유 정류장 기준을 station_name으로 설정하기에는 어려움.

In [ ]:
len(train_df['station_code'].unique()), len(train_df['station_name'].unique())

특이점3. 버스 수요가 요일에 영향을 미치는가.
7일주기로 승하차량이 급감하는 것을 알 수 있음
요일이 승하차량에 영향을 미치는 것이라 추정 -> 요일 파생변수 생성
요일이 승하차량에 영향을 미친다면 공휴일도 영향을 미칠 것이라 추정 -> 공휴일 정보 생성

In [ ]:
ride_col_list = ['%d~%d_ride'%(i, i+1) for i in range(6, 12)] + ['18~20_ride']
takeoff_col_list = ['%d~%d_takeoff'%(i, i+1) for i in range(6, 12)] + ['18~20_ride']

In [ ]:
df_date_ride = train_df.groupby(['date']).sum()[ride_col_list].stack().reset_index()
df_date_ride.columns = ['date', 'ride_time', 'count']
df_date_ride['date_disp'] = df_date_ride['date'].apply(lambda x: x[5:])
df_date_takeoff = train_df.groupby(['date']).sum()[takeoff_col_list].stack().reset_index()
df_date_takeoff.columns = ['date', 'takeoff_time', 'count']
df_date_takeoff['date_disp'] = df_date_takeoff['date'].apply(lambda x: x[5:])
df_date_takeoff.head(5)

In [ ]:
f, axes = plt.subplots(2, 1, figsize=(30, 10), sharex=True)

axes[0].set(title='일별 승차량 증감')
sns.lineplot(x='date_disp', y='count', hue='ride_time', data=df_date_ride, ax=axes[0])

axes[1].set(title='일별 하차량 증감')
sns.lineplot(x='date_disp', y='count', hue='takeoff_time', data=df_date_takeoff, ax=axes[1])

In [ ]:
holidays = ['01-01', '02-04', '02-05', '02-06', '03-01', '05-05', '05-06', '05-12', '06-06', '08-15',
            '09-12', '09-13', '09-14', '10-03', '10-09', '12-25']
holidays = ['2019-'+day for day in holidays]

train_df['weekday'] = train_df['date'].apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d").strftime("%A"))
train_df['holiday'] = train_df.apply(lambda row: 'Y' if row.date in holidays else 'N', axis=1)
train_df['holiweekend'] = train_df.apply(lambda row: 'H' if row.holiday == 'Y' else 'N', axis=1)
train_df['holiweekend'] = train_df.apply(lambda row: 'WE' if row.holiweekend =='N' and row.weekday in ['Saturday', 'Sunday'] else row.holiweekend, axis=1)

In [ ]:
weekday_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

df_week_ride = train_df.groupby(['weekday']).mean()[ride_col_list[:-1]].stack().reset_index()
df_week_ride.columns = ['weekday', 'ride_time', 'count']

df_week_takeoff = train_df.groupby(['weekday']).mean()[takeoff_col_list[:-1]].stack().reset_index()
df_week_takeoff.columns = ['weekday', 'takeoff_time', 'count']

df_week_ride['order'] = df_week_ride['weekday'].apply(lambda x: weekday_order.index(x))
df_week_ride=df_week_ride.sort_values(by=['order'])

df_week_takeoff['order'] = df_week_takeoff['weekday'].apply(lambda x: weekday_order.index(x))
df_week_takeoff=df_week_takeoff.sort_values(by=['order'])

In [ ]:
#date 변수 변환
train_df['date2'] = pd.to_datetime(train_df['date'])
test_df['date2']=pd.to_datetime(test_df['date'])
train_df['weekday'] = train_df['date2'].dt.weekday #요일별로 변수 변경(train)

test_df['date2'] = pd.to_datetime(test_df['date'])
test_df['weekday'] = test_df['date2'].dt.weekday #요일별로 변수 변경(test)

del train_df['date2'] #임의 컬럼 삭제
del test_df['date2']

In [ ]:
#holiday(공휴일) , holiweekend(주말)
holidays = ['09-12', '09-13', '09-14', '10-03', '10-09']
holidays = ['2019-'+day for day in holidays]

train_df['holiday'] = train_df.apply(lambda row: 'Y' if row.date in holidays else 'N', axis=1)
train_df['holiweekend'] = train_df.apply(lambda row: 'H' if row.holiday == 'Y' else 'N', axis=1)
train_df['holiweekend'] = train_df.apply(lambda row: 'WE' if row.holiweekend =='N' and row.weekday in [5,6] else row.holiweekend, axis=1)

test_df['holiday'] = test_df.apply(lambda row: 'Y' if row.date in holidays else 'N', axis=1)
test_df['holiweekend'] = test_df.apply(lambda row: 'H' if row.holiday == 'Y' else 'N', axis=1)
test_df['holiweekend'] = test_df.apply(lambda row: 'WE' if row.holiweekend =='N' and row.weekday in [5,6] else row.holiweekend, axis=1)

In [ ]:
f, axes = plt.subplots(2, 1, figsize=(30, 10), sharex=True)

axes[0].set(title='요일별 승차량 추이')
axes[1].set(title='요일별 하차량 추이')

sns.boxplot(x='weekday', y='count', data=df_week_ride, ax=axes[0])
sns.boxplot(x='weekday', y='count', data=df_week_takeoff, ax=axes[1])

In [ ]:
train_df['holiweekend']

In [ ]:
stn = ['호텔', '공항', '버스터미널', '시청', '대학교', '고등학교', '한라병원']

train['new_stn'] = np.nan

for i in range(len(train)):
    if any(word in train['station_name'][i] for word in stn):
        train['new_stn'][i] = 1
    else : 
        train['new_stn'][i] = 0

In [ ]:
train

In [ ]:
# 해당 주요 장소의 임의 지역 위도, 경도 (baseline 참조)

jeju=(33.51411, 126.52969) # 제주 측정소 근처
gosan=(33.29382, 126.16283) #고산 측정소 근처
seongsan=(33.38677, 126.8802) #성산 측정소 근처
po=(33.24616, 126.5653) #서귀포 측정소 근처

#제주도 지역이 보일 수 있는 위치의 위도, 경도를 표시한 뒤, folium.Map에 변수로 넣고, map_osm에 할당
map_osm= folium.Map((33.399835, 126.506031),zoom_start=9)
mc = MarkerCluster()

mc.add_child( folium.Marker(location=jeju,popup='제주 측정소',icon=folium.Icon(color='red',icon='info-sign') ) ) #제주 측정소 마커 생성
map_osm.add_child(mc) #마커를 map_osm에 추가

mc.add_child( folium.Marker(location=gosan,popup='고산 측정소',icon=folium.Icon(color='red',icon='info-sign') ) )
map_osm.add_child(mc) 

mc.add_child( folium.Marker(location=seongsan,popup='성산 측정소',icon=folium.Icon(color='red',icon='info-sign') ) )
map_osm.add_child(mc) 

mc.add_child( folium.Marker(location=po,popup='서귀포 측정소',icon=folium.Icon(color='red',icon='info-sign') ) )
map_osm.add_child(mc)

In [ ]:

#정류장의 위치만 확인하기 위해 groupby를 실행함
data=train[['latitude','longitude','station_name']].drop_duplicates(keep='first')

data2=data.groupby(['station_name'])['latitude','longitude'].mean()

data2.to_csv("folium.csv")

data2=pd.read_csv("folium.csv")

#정류장의 대략적인 위치를 확인하기 위하여, folium map에 해당 정류장을 표시
for row in data2.itertuples():
    mc.add_child(folium.Marker(location=[row.latitude,  row.longitude], popup=row.station_name)) #마커 생성
    map_osm.add_child(mc) #마커를 map_osm에 추가
    
map_osm

In [ ]:
# latitude / longitude를 묶어줘서 location컬럼 생성.
train_df['location'] = train.apply(lambda row: (row.latitude, row.longitude), axis=1)

jeju=(33.51411, 126.52969) # 제주 측정소 근처
gosan=(33.29382, 126.16283) #고산 측정소 근처
seongsan=(33.38677, 126.8802) #성산 측정소 근처
po=(33.24616, 126.5653) #서귀포 측정소 근처

#정류장의 위치만 확인하기 위해 groupby를 실행함
data_loc=train_df[['location','station_name']].drop_duplicates(keep='first')

train_df['dist_jj'] = train_df['location'].apply(lambda x: geopy.distance.geodesic( x, jeju).km)
print("jeju done", datetime.datetime.now())
train_df['dist_gs'] = train_df['location'].apply(lambda x: geopy.distance.geodesic( x, gosan).km)
print("gosan done", datetime.datetime.now())
train_df['dist_ss'] = train_df['location'].apply(lambda x: geopy.distance.geodesic( x, seongsan).km)
print("sungsan done", datetime.datetime.now())
train_df['dist_sp'] = train_df['location'].apply(lambda x: geopy.distance.geodesic( x, po).km)
print("seoguipo done", datetime.datetime.now())

train_df['center_name'] = train_df[['dist_jj', 'dist_gs', 'dist_ss', 'dist_sp']].apply(lambda row: ['dist_jj', 'dist_gs', 'dist_ss', 'dist_sp'][row.argmin()][5:], axis=1)

In [ ]:
# latitude / longitude를 묶어줘서 location컬럼 생성.
test_df['location'] = test_df.apply(lambda row: (row.latitude, row.longitude), axis=1)

jeju=(33.51411, 126.52969) # 제주 측정소 근처
gosan=(33.29382, 126.16283) #고산 측정소 근처
seongsan=(33.38677, 126.8802) #성산 측정소 근처
po=(33.24616, 126.5653) #서귀포 측정소 근처

#정류장의 위치만 확인하기 위해 groupby를 실행함
data_loc=test_df[['location','station_name']].drop_duplicates(keep='first')

test_df['dist_jj'] = test_df['location'].apply(lambda x: geopy.distance.geodesic( x, jeju).km)
print("jeju done", datetime.datetime.now())
test_df['dist_gs'] = test_df['location'].apply(lambda x: geopy.distance.geodesic( x, gosan).km)
print("gosan done", datetime.datetime.now())
test_df['dist_ss'] = test_df['location'].apply(lambda x: geopy.distance.geodesic( x, seongsan).km)
print("sungsan done", datetime.datetime.now())
test_df['dist_sp'] = test_df['location'].apply(lambda x: geopy.distance.geodesic( x, po).km)
print("seoguipo done", datetime.datetime.now())

test_df['center_name'] = test_df[['dist_jj', 'dist_gs', 'dist_ss', 'dist_sp']].apply(lambda row: ['dist_jj', 'dist_gs', 'dist_ss', 'dist_sp'][row.argmin()][5:], axis=1)

In [ ]:
def split_id(id):
  st = str(id)
  if '0000' in st:
    return st[:-4]
  else : return st

In [ ]:
#train_df['bus_route_id'] = train_df['bus_route_id'].apply(lambda x : split_id(x))
#train_df['bus_route_id']
data_list_df = [bus_bts_df, test_df, train_df, coordinate_jeju_df]
for i in data_list_df:
  if 'bus_route_id'in i.columns:
    i['bus_route_id'] = i['bus_route_id'].apply(lambda x : split_id(x))

In [ ]:
train_df['bus_route_id']

In [ ]:
print(train_df['bus_route_id'])
print(test_df['bus_route_id'])
print(bus_bts_df['bus_route_id'])

In [ ]:
train_df['bus_route_id'].nunique()

In [ ]:
test_df['bus_route_id'].nunique()

In [ ]:
bus_bts_df['bus_route_id'].nunique()

In [ ]:
# 요일(주중/주말) 및 연휴 여부 추가

## 날씨 데이터 크롤링

## 2-3. 날씨 컬럼 추가
승차량에 영향을 미치는 것은 흔히 강수량, 기온이라고 생각했기 때문에 2개 컬럼 추가.

In [ ]:
# 9월값


data = []

y = 2019
m = 9

response = requests.get('https://www.weather.go.kr/weather/climate/past_cal.jsp?stn=184&yy=2019&mm=9&x=15&y=6&obs=1')
soup = BeautifulSoup(response.content, 'html.parser')
table = soup.find('table', {'class': 'table_develop'})  

count = 0
point = [''] * 7
pointt = [''] * 7
fstr = [''] * 7
tstr = [''] * 7
mstr = [''] * 7
estr = [''] * 7
temp = [''] * 7
temptop = [''] * 7
tempmin = [''] * 7
rain = [''] * 7

for tr in table.find_all('tr'):
  tds = list(tr.find_all('td'))

  if tds:
      for i in range(0,7):
          point[i] = tds[i].text

      if count%2!=0:
          for j in range(0,7):
              pointt[j] = point[j].translate({ord('일'):''})
  
      if count%2==0:
          for k in range(0,7):
              fstr[k] = point[k].find('최고기온')
              tstr[k] = point[k].find('최저기온')
              mstr[k] = point[k].find('평균운량')
              estr[k] = point[k].find('일강수량')
              temp[k] = point[k][5:fstr[k]].translate({ord('℃'):''})
              temptop[k] = point[k][fstr[k]+5:tstr[k]].translate({ord('℃'):''})
              tempmin[k] = point[k][tstr[k]+5:mstr[k]].translate({ord('℃'):''})
              rain[k] = point[k][estr[k]+5:].translate({ord(' '):'',ord('-'):'0.0',ord('m'):''})
      
          if pointt[0]=='\xa0' or temp[0]=='':
              sun = ""
          else:
              if int(pointt[0]) < 10:
                sun = str(y)+'-0'+str(m)+'-0'+pointt[0]+' '+temp[0]+' '+temptop[0]+' '+tempmin[0]+' '+rain[0]
                data.append([sun])
              else :
                sun = str(y)+'-0'+str(m)+'-'+pointt[0]+' '+temp[0]+' '+temptop[0]+' '+tempmin[0]+' '+rain[0]
                data.append([sun])
  
          if pointt[1]=='\xa0' or temp[1]=='':
              mon = ""
          else:
              if int(pointt[1]) < 10 :
                mon = str(y)+'-0'+str(m)+'-0'+pointt[1]+' '+temp[1]+' '+temptop[1]+' '+tempmin[1]+' '+rain[1]
                data.append([mon])
              else:
                mon = str(y)+'-0'+str(m)+'-'+pointt[1]+' '+temp[1]+' '+temptop[1]+' '+tempmin[1]+' '+rain[1]
                data.append([mon])
  
          if pointt[2]=='\xa0' or temp[2]=='':
              tue = ""
          else:
              if int(pointt[2]) < 10 :
                tue = str(y)+'-0'+str(m)+'-0'+pointt[2]+' '+temp[2]+' '+temptop[2]+' '+tempmin[2]+' '+rain[2]
                data.append([tue])
              else:
                tue = str(y)+'-0'+str(m)+'-'+pointt[2]+' '+temp[2]+' '+temptop[2]+' '+tempmin[2]+' '+rain[2]
                data.append([tue])
  
          if pointt[3]=='\xa0' or temp[3]=='':
              wed = ""
          else:
              if int(pointt[3]) < 10 :
                wed = str(y)+'-0'+str(m)+'-0'+pointt[3]+' '+temp[3]+' '+temptop[3]+' '+tempmin[3]+' '+rain[3]
                data.append([wed])
              else:
                wed = str(y)+'-0'+str(m)+'-'+pointt[3]+' '+temp[3]+' '+temptop[3]+' '+tempmin[3]+' '+rain[3]
                data.append([wed])
  
          if pointt[4]=='\xa0' or temp[4]=='':
              thu = ""
          else:
              if int(pointt[4]) < 10 :
                thu = str(y)+'-0'+str(m)+'-0'+pointt[4]+' '+temp[4]+' '+temptop[4]+' '+tempmin[4]+' '+rain[4]
                data.append([thu])
              else:
                thu = str(y)+'-0'+str(m)+'-'+pointt[4]+' '+temp[4]+' '+temptop[4]+' '+tempmin[4]+' '+rain[4]
                data.append([thu])
  
          if pointt[5]=='\xa0' or temp[5]=='':
              fri = ""
          else:
              if int(pointt[5]) < 10 :
                fri = str(y)+'-0'+str(m)+'-0'+pointt[5]+' '+temp[5]+' '+temptop[5]+' '+tempmin[5]+' '+rain[5]
                data.append([fri])
              else:
                fri = str(y)+'-0'+str(m)+'-'+pointt[5]+' '+temp[5]+' '+temptop[5]+' '+tempmin[5]+' '+rain[5]
                data.append([fri])
  
          if pointt[6]=='\xa0' or temp[6]=='':
              sat = ""
          else:
              if int(pointt[6]) < 10 :
                sat = str(y)+'-0'+str(m)+'-0'+pointt[6]+' '+temp[6]+' '+temptop[6]+' '+tempmin[6]+' '+rain[6]
                data.append([sat])
              else:
                sat = str(y)+'-0'+str(m)+'-'+pointt[6]+' '+temp[6]+' '+temptop[6]+' '+tempmin[6]+' '+rain[6]
                data.append([sat])
  
          print(sun)
          print(mon)
          print(tue)
          print(wed)
          print(thu)
          print(fri)
          print(sat)
  count+=1

In [ ]:
# 10월값
y = 2019
m = 10

response = requests.get('https://www.weather.go.kr/weather/climate/past_cal.jsp?stn=184&yy=2019&mm=10&x=22&y=12&obs=1')
soup = BeautifulSoup(response.content, 'html.parser')
table = soup.find('table', {'class': 'table_develop'})  

count = 0
point = [''] * 7
pointt = [''] * 7
fstr = [''] * 7
tstr = [''] * 7
mstr = [''] * 7
estr = [''] * 7
temp = [''] * 7
temptop = [''] * 7
tempmin = [''] * 7
rain = [''] * 7

for tr in table.find_all('tr'):
    tds = list(tr.find_all('td'))

    if tds:
        for i in range(0,7):
            point[i] = tds[i].text

        if count%2!=0:
            for j in range(0,7):
                pointt[j] = point[j].translate({ord('일'):''})
    
        if count%2==0:
            for k in range(0,7):
                fstr[k] = point[k].find('최고기온')
                tstr[k] = point[k].find('최저기온')
                mstr[k] = point[k].find('평균운량')
                estr[k] = point[k].find('일강수량')
                temp[k] = point[k][5:fstr[k]].translate({ord('℃'):''})
                temptop[k] = point[k][fstr[k]+5:tstr[k]].translate({ord('℃'):''})
                tempmin[k] = point[k][tstr[k]+5:mstr[k]].translate({ord('℃'):''})
                rain[k] = point[k][estr[k]+5:].translate({ord(' '):'',ord('-'):'0.0',ord('m'):''})
        
            if pointt[0]=='\xa0' or temp[0]=='':
                sun = ""
            else:
                if int(pointt[0]) < 10:
                  sun = str(y)+'-'+str(m)+'-0'+pointt[0]+' '+temp[0]+' '+temptop[0]+' '+tempmin[0]+' '+rain[0]
                  data.append([sun])
                else :
                  sun = str(y)+'-'+str(m)+'-'+pointt[0]+' '+temp[0]+' '+temptop[0]+' '+tempmin[0]+' '+rain[0]
                  data.append([sun])
    
            if pointt[1]=='\xa0' or temp[1]=='':
                mon = ""
            else:
                if int(pointt[1]) < 10 :
                  mon = str(y)+'-'+str(m)+'-0'+pointt[1]+' '+temp[1]+' '+temptop[1]+' '+tempmin[1]+' '+rain[1]
                  data.append([mon])
                else:
                  mon = str(y)+'-'+str(m)+'-'+pointt[1]+' '+temp[1]+' '+temptop[1]+' '+tempmin[1]+' '+rain[1]
                  data.append([mon])
    
            if pointt[2]=='\xa0' or temp[2]=='':
                tue = ""
            else:
                if int(pointt[2]) < 10 :
                  tue = str(y)+'-'+str(m)+'-0'+pointt[2]+' '+temp[2]+' '+temptop[2]+' '+tempmin[2]+' '+rain[2]
                  data.append([tue])
                else:
                  tue = str(y)+'-'+str(m)+'-'+pointt[2]+' '+temp[2]+' '+temptop[2]+' '+tempmin[2]+' '+rain[2]
                  data.append([tue])
    
            if pointt[3]=='\xa0' or temp[3]=='':
                wed = ""
            else:
                if int(pointt[3]) < 10 :
                  wed = str(y)+'-'+str(m)+'-0'+pointt[3]+' '+temp[3]+' '+temptop[3]+' '+tempmin[3]+' '+rain[3]
                  data.append([wed])
                else:
                  wed = str(y)+'-'+str(m)+'-'+pointt[3]+' '+temp[3]+' '+temptop[3]+' '+tempmin[3]+' '+rain[3]
                  data.append([wed])
    
            if pointt[4]=='\xa0' or temp[4]=='':
                thu = ""
            else:
                if int(pointt[4]) < 10 :
                  thu = str(y)+'-'+str(m)+'-0'+pointt[4]+' '+temp[4]+' '+temptop[4]+' '+tempmin[4]+' '+rain[4]
                  data.append([thu])
                else:
                  thu = str(y)+'-'+str(m)+'-'+pointt[4]+' '+temp[4]+' '+temptop[4]+' '+tempmin[4]+' '+rain[4]
                  data.append([thu])
    
            if pointt[5]=='\xa0' or temp[5]=='':
                fri = ""
            else:
                if int(pointt[5]) < 10 :
                  fri = str(y)+'-'+str(m)+'-0'+pointt[5]+' '+temp[5]+' '+temptop[5]+' '+tempmin[5]+' '+rain[5]
                  data.append([fri])
                else:
                  fri = str(y)+'-'+str(m)+'-'+pointt[5]+' '+temp[5]+' '+temptop[5]+' '+tempmin[5]+' '+rain[5]
                  data.append([fri])
    
            if pointt[6]=='\xa0' or temp[6]=='':
                sat = ""
            else:
                if int(pointt[6]) < 10 :
                  sat = str(y)+'-'+str(m)+'-0'+pointt[6]+' '+temp[6]+' '+temptop[6]+' '+tempmin[6]+' '+rain[6]
                  data.append([sat])
                else:
                  sat = str(y)+'-'+str(m)+'-'+pointt[6]+' '+temp[6]+' '+temptop[6]+' '+tempmin[6]+' '+rain[6]
                  data.append([sat])
    
            print(sun)
            print(mon)
            print(tue)
            print(wed)
            print(thu)
            print(fri)
            print(sat)
    count+=1

In [ ]:
data

In [ ]:
## 10/16까지의 데이터만 추출
data = data[:46]

In [ ]:
#데이터 삽입용의 weather 데이터셋 생성

weather = pd.DataFrame(index = range(0, 46), columns=['date', 'min_temp', 'max_temp', 'avg_cloud', 'daily_rain'])

for i in range(len(data)):
  weather['date'][i] = data[i][0].split(' ')[0]
  weather['min_temp'][i] = data[i][0].split(' ')[1]
  weather['max_temp'][i] = data[i][0].split(' ')[2]
  weather['avg_cloud'][i] = data[i][0].split(' ')[3]
  weather['daily_rain'][i] = data[i][0].split(' ')[4]
weather = weather.set_index('date')

In [ ]:
weather

In [ ]:
weather = weather.groupby('date')[[ 'min_temp', 'max_temp', 'avg_cloud', 'daily_rain']].sum().reset_index()
weather

In [ ]:
train_df['date'] = pd.to_datetime(train_df['date'])
train_df['weekday'] = train_df['date'].dt.weekday

test_df['date'] = pd.to_datetime(test_df['date'])
test_df['weekday'] = test_df['date'].dt.weekday

train_df.shape, test_df.shape

In [ ]:
train_df['bus_route_id'] = train_df['bus_route_id'].astype(str)
train_df['station_code'] = train_df['station_code'].astype(str)
#train_df['route_station'] = train_df['bus_route_id'] + ',' + train_df['station_code']

test_df['bus_route_id'] = test_df['bus_route_id'].astype(str)
test_df['station_code'] = test_df['station_code'].astype(str)
#test_df['route_station'] = test_df['bus_route_id'] + ',' + test_df['station_code']

In [ ]:
#weather = weather[['일시','강수량(mm)', '기온(°C)']]
#weather.columns = ['date','precipitation','temp']

In [ ]:
weather

In [ ]:
#datetime 변환
weather['date'] = pd.to_datetime( weather['date'] )

#train/test기간
#weather = weather[(weather['date']>='2019-09-01 00:00:00')<='2019-10-16 23:00:00')].reset_index(drop=True)

#weather['hour'] = weather['date'].dt.hour
#weather['date'] = weather['date'].dt.date

# 해당 날짜의 강수량 : 아침 6시 ~ 12시까지
#weather = weather[(weather['hour']>=6)<=12)].reset_index(drop=True) 


# 6~12시까지의 강수량, 기온를 피쳐로 사용
#weather = weather.groupby('date')[['precipitation','temp']].sum().reset_index()
#weather.reset_index()
weather

In [ ]:
type(train_df['date'][0])

In [ ]:
type(weather['date'][0])

In [ ]:
weather

In [ ]:
#weather['date'] = pd.to_datetime(weather['date'])

In [ ]:
#train_df['date'] = pd.to_datetime(train_df['date'])
#test_df['date'] = pd.to_datetime(test_df['date'])

#데이터 합치기
train_df = pd.merge(train_df, weather, on ='date', how='left')
test_df = pd.merge(test_df, weather, on ='date', how='left')

In [ ]:
train_df

In [ ]:
test_df

# weekday(): 요일 반환 (0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일)

train_df['weekday']

test_df['weekday'].unique()

train_df['weekday'].head()

test_df['weekday'].head()

# 버스 상하행선 구분

# 교통카드 데이터넷 내 시간 칼럼을 Train 데이터 형식에 맞춰서 변환

## 2-4. 승하차 시간 통합 / 시간대별 평균(새벽, 아침, 정오)
18-20_ride와 상관관계를 보이는 것은 오전 8-10시, 10-12시의 승차인원이 상관관계를 보임.

In [ ]:
train_df['68a']=train_df['6~7_ride']+train_df['7~8_ride'] # 6 ~ 8시 승차인원 (2시간단위로 묶어줌)
train_df['810a']=train_df['8~9_ride']+train_df['9~10_ride']
train_df['1012a']=train_df['10~11_ride']+train_df['11~12_ride']

train_df['68b']=train_df['6~7_takeoff']+train_df['7~8_takeoff'] # 6 ~ 8시 하차인원
train_df['810b']=train_df['8~9_takeoff']+train_df['9~10_takeoff']
train_df['1012b']=train_df['10~11_takeoff']+train_df['11~12_takeoff']

In [ ]:
#test도 같이 묶어줌.
test_df['68a']=test_df['6~7_ride']+test_df['7~8_ride']
test_df['810a']=test_df['8~9_ride']+test_df['9~10_ride']
test_df['1012a']=test_df['10~11_ride']+test_df['11~12_ride']

test_df['68b']=test_df['6~7_takeoff']+test_df['7~8_takeoff']
test_df['810b']=test_df['8~9_takeoff']+test_df['9~10_takeoff']
test_df['1012b']=test_df['10~11_takeoff']+test_df['11~12_takeoff']

In [ ]:
train_df2=train_df[['68a','810a','1012a','68b','810b','1012b','18~20_ride']]

cor=train_df2.corr()

sns.set(style="white")
mask=np.zeros_like(cor,dtype=np.bool)
mask[np.triu_indices_from(mask)]=True

f,ax=plt.subplots(figsize=(10,10))
cmap=sns.diverging_palette(200,10,as_cmap=True)
sns.heatmap(cor,mask=mask,cmap=cmap,center=0,square=True,linewidths=0.5,cbar_kws={"shrink":1},annot=True); #히트맵 생성
plt.xticks(size=15)
plt.yticks(size=15,rotation=0)
plt.title("Ride & Takeoff COR",size=30);

In [ ]:
#3가지 시간대로 나눔 : 새벽, 아침, 정오
dawn_ride_cols, dawn_takoff_cols = ['6~7_ride','7~8_ride'], ['6~7_takeoff','7~8_takeoff']
morning_ride_cols, morning_takeoff_cols = ['8~9_ride','9~10_ride'], ['8~9_takeoff','9~10_takeoff']
noon_ride_cols, noon_takeoff_cols = ['10~11_ride','11~12_ride'], ['10~11_takeoff','11~12_takeoff']

def divide_time(df):
    # 승차
    df['dawn_ride'] = df[dawn_ride_cols].sum(axis=1) #새벽
    df['morning_ride'] = df[morning_ride_cols].sum(axis=1) #아침
    df['noon_ride'] = df[noon_ride_cols].sum(axis=1) #정오
    
    # 하차
    df['dawn_takeoff'] = df[dawn_takoff_cols].sum(axis=1)
    df['morning_takeoff'] = df[morning_takeoff_cols].sum(axis=1)
    df['noon_takeoff'] = df[noon_takeoff_cols].sum(axis=1)
    
    # 임의 컬럼 삭제
    drop_cols = dawn_ride_cols + morning_ride_cols + noon_ride_cols + dawn_takoff_cols + morning_takeoff_cols + noon_takeoff_cols
    df = df.drop(drop_cols, 1)
    
    return df

In [ ]:
train_df = divide_time(train_df)
test_df = divide_time(test_df)

In [ ]:
# 탑승

train_df['avg_dawn_ride'] = train_df.groupby(['date','bus_route_id'])['dawn_ride'].transform('mean') 
train_df['avg_morning_ride'] = train_df.groupby(['date','bus_route_id'])['morning_ride'].transform('mean') 
train_df['avg_noon_ride'] = train_df.groupby(['date','bus_route_id'])['noon_ride'].transform('mean') 

test_df['avg_dawn_ride'] = test_df.groupby(['date','bus_route_id'])['dawn_ride'].transform('mean') 
test_df['avg_morning_ride'] = test_df.groupby(['date','bus_route_id'])['morning_ride'].transform('mean') 
test_df['avg_noon_ride'] = test_df.groupby(['date','bus_route_id'])['noon_ride'].transform('mean')

In [ ]:
# 하차

train_df['avg_dawn_takeoff'] = train_df.groupby(['date','bus_route_id'])['dawn_takeoff'].transform('mean') 
train_df['avg_morning_takeoff'] = train_df.groupby(['date','bus_route_id'])['morning_takeoff'].transform('mean') 
train_df['avg_noon_takeoff'] = train_df.groupby(['date','bus_route_id'])['noon_takeoff'].transform('mean') 

test_df['avg_dawn_takeoff'] = test_df.groupby(['date','bus_route_id'])['dawn_takeoff'].transform('mean') 
test_df['avg_morning_takeoff'] = test_df.groupby(['date','bus_route_id'])['morning_takeoff'].transform('mean') 
test_df['avg_noon_takeoff'] = test_df.groupby(['date','bus_route_id'])['noon_takeoff'].transform('mean')

## 2.5 categorical mapping & encoding

In [ ]:
#시외/시내(카테고리컬) 수치형으로 변환.

train_df['in_out'] = train_df['in_out'].map({'시내':0,'시외':1})
test_df['in_out'] = test_df['in_out'].map({'시내':0,'시외':1})

In [ ]:
#앞서 만든 weekday 컬럼 원핫인코딩.

train_df2 = pd.get_dummies(train_df,columns=['weekday'])
test_df2 = pd.get_dummies(test_df,columns=['weekday'])

In [ ]:
#나머지 카테고리컬 라벨인코딩

lbl = LabelEncoder()

cat_cols = ['bus_route_id', 'station_code', 'station_name', 'holiday', 'holiweekend']

for col in tqdm_notebook(cat_cols):
    lbl.fit(train_df2[col])
    train_df2[col] = lbl.transform(train_df2[col])
    
for col in tqdm_notebook(cat_cols):
    lbl.fit(test_df2[col])
    test_df2[col] = lbl.transform(test_df2[col])

# 3. Modeling

In [ ]:
target_col = '18~20_ride'
train_label = train_df2[target_col]

train_df_drop = train_df2.drop(['id','date','latitude','longitude','center_name','location'], axis=1)
test_df_drop = test_df2.drop(['id','date','latitude','longitude','center_name','location'], axis=1)

In [ ]:
train_df_drop

In [ ]:
train_df_drop = train_df_drop.drop('18~20_ride', axis=1)

In [ ]:
 #min_temp, max_temp, avg_cloud, daily_rain
#train_df_drop['min_temp'] = pd.to_numeric(train_df_drop['min_temp'])
#train_df_drop['max_temp'] = pd.to_numeric(train_df_drop['max_temp'])
#train_df_drop['avg_cloud'] = pd.to_numeric(train_df_drop['avg_cloud'])
#train_df_drop['daily_rain'] = pd.to_numeric(train_df_drop['daily_rain'])
#min_temp, max_temp, avg_cloud, daily_rain
df_drop_list = [train_df_drop, test_df_drop]
for df in df_drop_list:
  for col in df.columns:  
    df[col] = pd.to_numeric(df[col])

In [ ]:
train_df_drop

In [ ]:
test_df_drop

In [ ]:
type(train_df_drop['daily_rain'][0])

In [ ]:
# 각 모델에 대한 oof 정의
lgbm_oof_train = np.zeros((train_df_drop.shape[0]))
lgbm_oof_test = np.zeros((test_df_drop.shape[0]))

# Hyperparameter 정의하기
n_splits= 5
NUM_BOOST_ROUND = 10000
SEED = 777
lgbm_param = {'objective':'rmse',
              'boosting_type': 'gbdt',
              'random_state':777,
              'learning_rate':0.1,
              'subsample':0.7,
              'tree_learner': 'serial',
              'colsample_bytree':0.78,
              'early_stopping_rounds':50,
              'subsample_freq': 1,
              'reg_lambda':7,
              'reg_alpha': 5,
              'num_leaves': 96,
              'seed' : SEED
            }

# Kfold 
kfolds = KFold(n_splits=n_splits, random_state=777, shuffle=True)

# Fold별로 학습진행
for ind, (trn_ind, val_ind) in tqdm_notebook(enumerate( kfolds.split( X = train_df_drop, y = train_label ) ) ):
    
    # train_df/Valid-set을 정의
    X_train , y_train = train_df_drop.iloc[trn_ind], train_label[trn_ind]
    X_valid , y_valid = train_df_drop.iloc[val_ind], train_label[val_ind]
    
    # Light GBM
    print("---trainING---")
    
    # dtrain/dvalid 정의
    dtrain = lgbm.Dataset(X_train, y_train)
    dvalid = lgbm.Dataset(X_valid, y_valid)
    
    # model 정의&학습
    model = lgbm.train(lgbm_param , dtrain, NUM_BOOST_ROUND, 
                       valid_sets=(dtrain, dvalid), 
                       valid_names=('train','valid'), 
                       verbose_eval= 100)
    

    
    lgbm_valid_pred = model.predict(X_valid)
    lgbm_test_pred = model.predict(test_df_drop)
        
    lgbm_oof_train[val_ind] = lgbm_valid_pred
    lgbm_oof_test += lgbm_test_pred/ n_splits #Fold한 결과 앙상블(평균)

In [ ]:
from math import sqrt
from sklearn.metrics import mean_squared_error

print(f"<Light-GBM> OVERALL RMSE: {sqrt( mean_squared_error( train_label, lgbm_oof_train ))}")

In [ ]:
X_train=train_df_drop2
y_train=train_label
X_test=test_df

X_train.shape, y_train.shape, X_test.shape

In [ ]:
lgbm_test_pred=list(lgbm_test_pred)

In [ ]:
submission_sample['18~20_ride'] = lgbm_test_pred

In [ ]:
submission_sample.to_csv('/content/drive/My Drive/Dacon/data13/12day.csv', index = False)