In [1]:
import pandas as pd
import lightgbm as lgb

In [2]:
# 데이터 불러오기

train = pd.read_csv('C:/data/관객수 예측/movies_train.csv') # 학습 파일
test = pd.read_csv('C:/data/관객수 예측/movies_test.csv') # 시험지 파일
submission = pd.read_csv('C:/data/관객수 예측/submission.csv')#정답지

# 탐색적 자료분석

In [3]:
train.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387

In [4]:
submission.head()

         title  box_off_num
0       용서는 없다            0
1  아빠가 여자를 좋아해            0
2          하모니            0
3          의형제            0
4        평행 이론            0

In [5]:
print(train.shape)
print(test.shape)
print(submission.shape)

(600, 12)
(243, 11)
(243, 2)

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           600 non-null    object
 1   distributor     600 non-null    object
 2   genre           600 non-null    object
 3   release_time    600 non-null    object
 4   time            600 non-null    int64
 5   screening_rat   600 non-null    object
 6   director        600 non-null    object
 7   dir_prev_bfnum  270 non-null    float64
 8   dir_prev_num    600 non-null    int64
 9   num_staff       600 non-null    int64
 10  num_actor       600 non-null    int64
 11  box_off_num     600 non-null    int64
dtypes: float64(1), int64(5), object(6)
memory usage: 56.4+ KB

In [7]:
train.describe()

,time,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
count,600.000000,2.700000e+02,600.000000,600.000000,600.000000,6.000000e+02
mean,100.863333,1.050443e+06,0.876667,151.118333,3.706667,7.081818e+05
std,18.097528,1.791408e+06,1.183409,165.654671,2.446889,1.828006e+06
min,45.000000,1.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
25%,89.000000,2.038000e+04,0.000000,17.000000,2.000000,1.297250e+03
50%,100.000000,4.784236e+05,0.000000,82.500000,3.000000,1.259100e+04
75%,114.000000,1.286569e+06,2.000000,264.000000,4.000000,4.798868e+05
max,180.000000,1.761531e+07,5.000000,869.000000,25.000000,1.426277e+07

In [8]:
test.describe()

              time  dir_prev_bfnum  dir_prev_num   num_staff   num_actor
count   243.000000    1.070000e+02    243.000000  243.000000  243.000000
mean    109.798354    8.916695e+05      0.851852  159.316872    3.477366
std     124.022711    1.217341e+06      1.200321  162.976607    2.111192
min      40.000000    3.400000e+01      0.000000    0.000000    0.000000
25%      91.000000    6.250200e+04      0.000000   18.000000    2.000000
50%     104.000000    4.931200e+05      0.000000  105.000000    3.000000
75%     114.500000    1.080850e+06      1.000000  282.000000    4.000000
max    2015.000000    6.173100e+06      6.000000  776.000000   16.000000

In [9]:
train.corr()

,time,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
time,1.000000,0.264675,0.306727,0.623205,0.114153,0.441452
dir_prev_bfnum,0.264675,1.000000,0.131822,0.323521,0.083818,0.283184
dir_prev_num,0.306727,0.131822,1.000000,0.450706,0.014006,0.259674
num_staff,0.623205,0.323521,0.450706,1.000000,0.077871,0.544265
num_actor,0.114153,0.083818,0.014006,0.077871,1.000000,0.111179
box_off_num,0.441452,0.283184,0.259674,0.544265,0.111179,1.000000

In [10]:
train.isna().sum() /600

title             0.00
distributor       0.00
genre             0.00
release_time      0.00
time              0.00
screening_rat     0.00
director          0.00
dir_prev_bfnum    0.55
dir_prev_num      0.00
num_staff         0.00
num_actor         0.00
box_off_num       0.00
dtype: float64

In [11]:
train.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387

In [12]:
train[train['dir_prev_bfnum'].isna()]

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
6,길위에서,백두대간,다큐멘터리,2013-05-23,104,전체 관람가,이창재,NaN,0,32,5,53526
8,"1789, 바스티유의 연인들",유니버설픽쳐스인터내셔널코리아,뮤지컬,2014-09-18,129,전체 관람가,정성복,NaN,0,3,5,4778
9,청춘그루브,(주)두타연,드라마,2012-03-15,94,15세 관람가,변성현,NaN,0,138,3,868
10,AV 아이돌,(주) 케이알씨지,멜로/로맨스,2015-07-27,89,청소년 관람불가,조조 히데오,NaN,0,0,4,745
...,...,...,...,...,...,...,...,...,...,...,...,...
593,낭만파 남편의 편지,퍼스트런,미스터리,2013-09-12,97,청소년 관람불가,최위안,NaN,0,5,3,1132
594,오빠가 돌아왔다,(주)마운틴픽쳐스,코미디,2014-03-20,94,청소년 관람불가,노진수,NaN,0,37,5,1958
597,살인의 강,(주)마운틴픽쳐스,공포,2010-09-30,99,청소년 관람불가,김대현,NaN,0,123,4,2475
598,악의 연대기,CJ 엔터테인먼트,느와르,2015-05-14,102,15세 관람가,백운학,NaN,0,431,4,2192525
599,베를린,CJ 엔터테인먼트,액션,2013-01-30,120,15세 관람가,류승완,NaN,0,363,5,7166532

In [13]:
train[train['dir_prev_bfnum'].isna()]['dir_prev_num'].sum()

0

# 관객수가 알려지지 않아서 제외됨

In [14]:
train['dir_prev_bfnum'].fillna(0,inplace=True)

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           600 non-null    object
 1   distributor     600 non-null    object
 2   genre           600 non-null    object
 3   release_time    600 non-null    object
 4   time            600 non-null    int64
 5   screening_rat   600 non-null    object
 6   director        600 non-null    object
 7   dir_prev_bfnum  600 non-null    float64
 8   dir_prev_num    600 non-null    int64
 9   num_staff       600 non-null    int64
 10  num_actor       600 non-null    int64
 11  box_off_num     600 non-null    int64
dtypes: float64(1), int64(5), object(6)
memory usage: 56.4+ KB

In [16]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           243 non-null    object
 1   distributor     243 non-null    object
 2   genre           243 non-null    object
 3   release_time    243 non-null    object
 4   time            243 non-null    int64
 5   screening_rat   243 non-null    object
 6   director        243 non-null    object
 7   dir_prev_bfnum  107 non-null    float64
 8   dir_prev_num    243 non-null    int64
 9   num_staff       243 non-null    int64
 10  num_actor       243 non-null    int64
dtypes: float64(1), int64(4), object(6)
memory usage: 21.0+ KB

In [17]:
test['dir_prev_bfnum'].fillna(0,inplace=True)

In [18]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           243 non-null    object
 1   distributor     243 non-null    object
 2   genre           243 non-null    object
 3   release_time    243 non-null    object
 4   time            243 non-null    int64
 5   screening_rat   243 non-null    object
 6   director        243 non-null    object
 7   dir_prev_bfnum  243 non-null    float64
 8   dir_prev_num    243 non-null    int64
 9   num_staff       243 non-null    int64
 10  num_actor       243 non-null    int64
dtypes: float64(1), int64(4), object(6)
memory usage: 21.0+ KB

In [19]:
train.corr()

,time,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
time,1.000000,0.266065,0.306727,0.623205,0.114153,0.441452
dir_prev_bfnum,0.266065,1.000000,0.396616,0.369657,0.042491,0.293791
dir_prev_num,0.306727,0.396616,1.000000,0.450706,0.014006,0.259674
num_staff,0.623205,0.369657,0.450706,1.000000,0.077871,0.544265
num_actor,0.114153,0.042491,0.014006,0.077871,1.000000,0.111179
box_off_num,0.441452,0.293791,0.259674,0.544265,0.111179,1.000000

# 변수 선택 및 모델 구축 LGB모델

In [20]:
model = lgb.LGBMRegressor(random_state=777, n_estimators=1000)

In [21]:
features = ['time', 'dir_prev_num', 'num_staff', 'num_actor']
target=['box_off_num']

In [22]:
X_train, X_test, y_train = train[features], test[features], train[target]

# 모델 학습 및 검증

## light gbm

In [23]:
model.fit(X_train, y_train)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=1000, n_jobs=-1, num_leaves=31, objective=None,
              random_state=777, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [24]:
sigleLGBM = submission.copy()

In [25]:
sigleLGBM.head()

         title  box_off_num
0       용서는 없다            0
1  아빠가 여자를 좋아해            0
2          하모니            0
3          의형제            0
4        평행 이론            0

### 답안지를 만든다

In [26]:
sigleLGBM['box_off_num'] = model.predict(X_test)

In [27]:
sigleLGBM.to_csv('sigleLGBM.csv', index =False)

## k-fold 교차검증

In [28]:
from sklearn.model_selection import KFold

In [29]:
train.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,0.00,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387

In [30]:
k_fold = KFold(n_splits=5, shuffle=True, random_state=777)

In [31]:
model = lgb.LGBMRegressor(random_state=777, n_estimators=1000)

models = []

for train_idx, val_idx in k_fold.split(X_train):
    x_t = X_train.iloc[train_idx]
    y_t = y_train.iloc[train_idx]
    x_val = X_train.iloc[val_idx]
    y_val = y_train.iloc[val_idx]
    
    models.append(model.fit(x_t, y_t, eval_set=(x_val, y_val), early_stopping_rounds=100, verbose = 100))

Training until validation scores don't improve for 100 rounds
[100]	valid_0's l2: 2.70572e+12
Early stopping, best iteration is:
[6]	valid_0's l2: 2.45438e+12
Training until validation scores don't improve for 100 rounds
[100]	valid_0's l2: 3.90847e+12
Early stopping, best iteration is:
[33]	valid_0's l2: 3.72825e+12
Training until validation scores don't improve for 100 rounds
[100]	valid_0's l2: 3.50344e+12
Early stopping, best iteration is:
[8]	valid_0's l2: 2.58737e+12
Training until validation scores don't improve for 100 rounds
[100]	valid_0's l2: 1.45977e+12
Early stopping, best iteration is:
[11]	valid_0's l2: 1.26226e+12
Training until validation scores don't improve for 100 rounds
[100]	valid_0's l2: 1.77214e+12
Early stopping, best iteration is:
[22]	valid_0's l2: 1.57631e+12

In [32]:
preds = []
for model in models:
    preds.append(model.predict(X_test))
len(preds)

5

In [33]:
kfoldLightGBM = submission.copy()

In [34]:
import numpy as np

In [35]:
kfoldLightGBM['box_off_num'] = np.mean(preds, axis = 0)

In [36]:
kfoldLightGBM.to_csv('kfoldLightGBM.csv', index = False)

# 추가하기

In [37]:
features

['time', 'dir_prev_num', 'num_staff', 'num_actor']

In [38]:
train.columns

Index(['title', 'distributor', 'genre', 'release_time', 'time',
       'screening_rat', 'director', 'dir_prev_bfnum', 'dir_prev_num',
       'num_staff', 'num_actor', 'box_off_num'],
      dtype='object')

In [39]:
train.genre

0       액션
1      느와르
2       액션
3      코미디
4      코미디
      ...
595    드라마
596    드라마
597     공포
598    느와르
599     액션
Name: genre, Length: 600, dtype: object

In [40]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
train['genre'] = le.fit_transform(train['genre'])

각 열에 맞는 라벨링

In [41]:
test['genre'] = le.transform(test['genre'])

# 꼭 트랜스폼 할것!

In [42]:
features = ['time', 'dir_prev_num', 'num_staff', 'num_actor', 'genre']

In [43]:
features

['time', 'dir_prev_num', 'num_staff', 'num_actor', 'genre']

In [44]:
X_train, X_test, y_train = train[features], test[features], train[target]

In [45]:
model = lgb.LGBMRegressor(random_state=777, n_estimators=1000)

models = []

for train_idx, val_idx in k_fold.split(X_train):
    x_t = X_train.iloc[train_idx]
    y_t = y_train.iloc[train_idx]
    x_val = X_train.iloc[val_idx]
    y_val = y_train.iloc[val_idx]
    
    models.append(model.fit(x_t, y_t, eval_set=(x_val, y_val), early_stopping_rounds=100, verbose = 100))

Training until validation scores don't improve for 100 rounds
[100]	valid_0's l2: 2.62894e+12
Early stopping, best iteration is:
[8]	valid_0's l2: 2.45403e+12
Training until validation scores don't improve for 100 rounds
[100]	valid_0's l2: 4.05059e+12
Early stopping, best iteration is:
[42]	valid_0's l2: 3.81818e+12
Training until validation scores don't improve for 100 rounds
[100]	valid_0's l2: 3.3861e+12
Early stopping, best iteration is:
[13]	valid_0's l2: 2.48576e+12
Training until validation scores don't improve for 100 rounds
[100]	valid_0's l2: 1.43747e+12
Early stopping, best iteration is:
[11]	valid_0's l2: 1.22816e+12
Training until validation scores don't improve for 100 rounds
[100]	valid_0's l2: 1.74305e+12
Early stopping, best iteration is:
[24]	valid_0's l2: 1.5505e+12

In [46]:
preds = []
for model in models:
    preds.append(model.predict(X_test))
len(preds)

5

In [47]:
feLightGBM = submission.copy()

In [48]:
feLightGBM['box_off_num'] = np.mean(preds, axis = 0)

In [49]:
feLightGBM.to_csv('feLightGBM.csv', index = False)

# Grid Search

In [50]:
from sklearn.model_selection import GridSearchCV

In [51]:
model = lgb.LGBMRegressor(random_state = 777, n_estimators = 1000)

params = {
    'learning_rate' : [0.0023,0.0025,0.0027],
    'min_child_samples' : [46,48,50]
}

gs = GridSearchCV(estimator=model,
                 param_grid=params,
                 scoring='neg_mean_squared_error',
                 cv = k_fold)

In [52]:
gs.fit(X_train, y_train)

GridSearchCV(cv=KFold(n_splits=5, random_state=777, shuffle=True),
             error_score=nan,
             estimator=LGBMRegressor(boosting_type='gbdt', class_weight=None,
                                     colsample_bytree=1.0,
                                     importance_type='split', learning_rate=0.1,
                                     max_depth=-1, min_child_samples=20,
                                     min_child_weight=0.001, min_split_gain=0.0,
                                     n_estimators=1000, n_jobs=-1,
                                     num_leaves=31, objective=None,
                                     random_state=777, reg_alpha=0.0,
                                     reg_lambda=0.0, silent=True, subsample=1.0,
                                     subsample_for_bin=200000,
                                     subsample_freq=0),
             iid='deprecated', n_jobs=None,
             param_grid={'learning_rate': [0.0023, 0.0025, 0.0027],
                         'min_child_samples': [46, 48, 50]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_squared_error', verbose=0)

In [53]:
gs.best_params_

{'learning_rate': 0.0023, 'min_child_samples': 48}

In [59]:
model = lgb.LGBMRegressor(random_state = 777, n_estimators = 1000, learning_rate = 0.0023 , min_child_samples=48)

models = []

for train_idx, val_idx in k_fold.split(X_train):
    x_t = X_train.iloc[train_idx]
    y_t = y_train.iloc[train_idx]
    x_val = X_train.iloc[val_idx]
    y_val = y_train.iloc[val_idx]
    
    models.append(model.fit(x_t, y_t, eval_set=(x_val, y_val), early_stopping_rounds=100, verbose = 100))

Training until validation scores don't improve for 100 rounds
[100]	valid_0's l2: 2.5453e+12
[200]	valid_0's l2: 2.38178e+12
[300]	valid_0's l2: 2.29057e+12
[400]	valid_0's l2: 2.24278e+12
[500]	valid_0's l2: 2.21696e+12
[600]	valid_0's l2: 2.20768e+12
[700]	valid_0's l2: 2.21336e+12
Early stopping, best iteration is:
[626]	valid_0's l2: 2.20721e+12
Training until validation scores don't improve for 100 rounds
[100]	valid_0's l2: 5.07113e+12
[200]	valid_0's l2: 4.65171e+12
[300]	valid_0's l2: 4.36823e+12
[400]	valid_0's l2: 4.16075e+12
[500]	valid_0's l2: 4.01091e+12
[600]	valid_0's l2: 3.90517e+12
[700]	valid_0's l2: 3.8404e+12
[800]	valid_0's l2: 3.80219e+12
[900]	valid_0's l2: 3.77536e+12
[1000]	valid_0's l2: 3.75779e+12
Did not meet early stopping. Best iteration is:
[998]	valid_0's l2: 3.75747e+12
Training until validation scores don't improve for 100 rounds
[100]	valid_0's l2: 3.31417e+12
[200]	valid_0's l2: 3.01033e+12
[300]	valid_0's l2: 2.79939e+12
[400]	valid_0's l2: 2.6483e+12
[500]	valid_0's l2: 2.54437e+12
[600]	valid_0's l2: 2.4742e+12
[700]	valid_0's l2: 2.42263e+12
[800]	valid_0's l2: 2.39409e+12
[900]	valid_0's l2: 2.36992e+12
[1000]	valid_0's l2: 2.35196e+12
Did not meet early stopping. Best iteration is:
[1000]	valid_0's l2: 2.35196e+12
Training until validation scores don't improve for 100 rounds
[100]	valid_0's l2: 1.69236e+12
[200]	valid_0's l2: 1.46562e+12
[300]	valid_0's l2: 1.32748e+12
[400]	valid_0's l2: 1.24447e+12
[500]	valid_0's l2: 1.1997e+12
[600]	valid_0's l2: 1.17955e+12
[700]	valid_0's l2: 1.17284e+12
[800]	valid_0's l2: 1.17182e+12
[900]	valid_0's l2: 1.1734e+12
Early stopping, best iteration is:
[817]	valid_0's l2: 1.17175e+12
Training until validation scores don't improve for 100 rounds
[100]	valid_0's l2: 2.09815e+12
[200]	valid_0's l2: 1.86951e+12
[300]	valid_0's l2: 1.7131e+12
[400]	valid_0's l2: 1.60306e+12
[500]	valid_0's l2: 1.52765e+12
[600]	valid_0's l2: 1.47878e+12
[700]	valid_0's l2: 1.44952e+12
[800]	valid_0's l2: 1.43714e+12
[900]	valid_0's l2: 1.43048e+12
[1000]	valid_0's l2: 1.42874e+12
Did not meet early stopping. Best iteration is:
[977]	valid_0's l2: 1.42818e+12

In [60]:
preds = []
for model in models:
    preds.append(model.predict(X_test))

In [62]:
gs.best_score_

-2278977758786.757

In [63]:
gslgbm = submission.copy()

In [64]:
gslgbm['box_off_num'] = np.mean(preds, axis = 0)

In [65]:
gslgbm.to_csv('gslgbm.csv', index=False)